<h2>Departments</h2>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Department</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Employee Count</th>
      <th style="width: 200px">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dept of departments">
      <td>{{ dept.name }}</td>
      <td>{{ dept.description }}</td>
      <td>{{ dept.employeeCount }}</td>
      <td>
        <a routerLink="edit/{{ dept.id }}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <!-- Uncomment if you want Delete:
        <button (click)="deleteDepartment(dept.id)" 
                class="btn btn-sm btn-danger" 
                [disabled]="dept.isDeleting">
          <span *ngIf="dept.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!dept.isDeleting">Delete</span>
        </button>
        -->
      </td>
    </tr>
    <tr *ngIf="!departments.length">
      <td colspan="4" class="text-center">No Departments Found</td>
    </tr>
  </tbody>
</table>
